{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Comparador de Perfiles</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center pt-3">
            <img src="{% static 'img/beca_logo.png' %}" alt="Banco Exterior Logo" class="logo">
            <h1 class="text-center">Comparador de Archivos</h1>
            <h4 class="text-center">Presiona para ingresar</h4>
            <a class="btn btn-primary btn-access" href="{% url 'comparar' %}" role="button">Acceder</a>
        </div>
    </div>
</body>
</html>
