<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Comparador de Perfiles</title>
</head>
<body>
    <div class="container">
        <img src="{% static 'img/beca_logo.png' %}" alt="Banco Exterior Logo" class="logo">
        <h1>Bienvenido a mi proyecto</h1>
        <p>Esta es la página principal</p>
        <a href="{% url 'comparar' %}" class="btn btn-primary">Ir al Comparador</a>
    </div>
</body>
</html>
