<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Comparador de Perfiles</title>
</head>
<body>
    <div class="container">
        <!-- <img src="{% static 'img/beca_logo.png' %}" alt="Banco Exterior Logo" class="logo"> -->
        <h1>Comparador de Archivos</h1>
        <h4>Presiona para ingresar</h4>
        <a href="{% url 'comparar' %}" class="btn btn-primary">Acceder</a>
    </div>
</body>
</html>
